.embed-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.2%;
  padding-top: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  margin: auto;
  border: 1px dashed goldenrod;
  position: absolute;
  top: 0;
  left: auto;
  width: 80%;
  height: 80%
}
.header-container {
  display: flex;
  justify-content: center;
}
